* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 6rem;
    background-color: rgb(249, 249, 249);
}

#main {    
    background-color: rgb(249, 249, 249);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    background-color: rgb(124, 131, 253);
    padding-bottom: 4px;
    z-index: 999;
}

#nav li,
#nav .subnav li {
    list-style: none;
}

#nav {
    display: inline-block;
    position: absolute;
    left: 40rem;
    right: 0;
}

#nav li {
    font-size: 1rem;
    position: relative;
    display: inline-block;
}

div #header-logo {
    position: absolute;
    left: 4rem;
    font-family: Showcard Gothic;
    font-size: 2.5rem;
    display: inline-block;
    line-height: 6rem;
}

div #header-logo a {
    text-decoration: none;
    color: rgb(255, 196, 0);
    text-shadow: 2px 2px 4px #000000;
}


#nav>li:hover {
    border-bottom: 4px solid #ccc;
    background-color: rgba(83, 166, 216, 0.5);
}

#menu-btn {
    position: absolute;
    top: 0rem;
    left: 56rem;
}

#menu-btn:hover .ti-menu {
    background-color: rgba(83, 166, 216, 0.5);
    color: black;
}

#menu-btn .ti-menu {
    font-size: 2rem;
    color: #fff;
    line-height: 6rem;
    display: block;
    padding: 0 2rem;
}

#header #nav-btn-shopping {
    position: absolute;
    top: 0;
    left: 75rem;
    line-height: 5rem;
}

#header #nav-btn-shopping a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    display: block;
    padding: 0 2rem;
}

#header #nav-btn-shopping:hover {
    border-bottom: 4px solid #ccc;
    background-color: rgba(83, 166, 216, 0.5);
}

#header #nav-btn-shopping #cart_count {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
    border-radius: 50%;
    right: 8px;
    bottom: 8px;
    text-align: center;
    line-height: 1.75;
}

#nav li a {
    color: #FFF4E6;
    text-decoration: none;
    line-height: 5rem;
    display: block;
    padding: 0 1rem;
    text-transform: uppercase;
}

#nav li .sub-nav {
    position: absolute;
    top: 105%;
    left: 0;
    min-width: 15rem;
    display: none;
    background-color: transparent;
    font-size: 1rem;
    background-color: rgb(124, 131, 253);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#nav li .sub-nav li {
    display: block;
    line-height: 3rem;
    width: 100%;
    /* border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; */
}

#nav li:hover >.sub-nav {
    display: block;
}

#nav li .sub-nav li a {
    width: 100%;
    display: block;
    text-align: center;
}

#nav li .sub-nav li:hover {
    border-bottom: 4px solid #ccc;
    background-color: rgba(83, 166, 216, 1);
}

#nav li .sub-nav li p {
    width: 100%;
    display: block;
    text-align: center;
    color: #000;
    padding: 1rem;
    margin: 0;
}

#nav li .sales-code {
    width: 20rem;
}

#nav li .sales-code li {
    background: url('ticket.jpg') top / cover no-repeat !important;
    /* background-color: #fff; */
}

.container .breadcrumb {
    /* background-color: transparent; */
    background: transparent;
    padding: 1rem;
    border-radius: 0;
    border: 2px solid #000;
    border-radius: 8px;
}
.container .breadcrumb li {
    margin-right: 0.5rem;
}

.container .breadcrumb li a {
    color: red;
}

#main .container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 589px;
}

#main .container .row {
    padding-top: 2rem;
}

#footer {
    position: relative;
    background-color: rgb(124, 131, 253);
    left: 0;
    bottom: 0;
    
    width: 100%;
}

#footer #footer_container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 16px;
    color: white;
    line-height: 36px;
}

#footer #footer_container h4 {
    font-size: 20px;
}

#footer #footer_container-icon ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.icon {
    font-size: 30px;
    color: white;
}

#footer #footer_time {
    text-align: center;
    font-size: 16px;
    padding: 2px;
}

#main #pagination {
    position: relative;
    left: 390px;
    bottom: 0;
    width: 100%;
    height: 3rem;
    margin: 1.5rem 0;
}

#main #pagination ul {
    min-width: none;
    height: 1.5rem;
    display: block;
}

#main #pagination ul li {
    display: inline-block;
    list-style: none;
    background-color: #5cb7ec;
    padding: 0.5rem 1.5rem;
    margin-left: 12px;
    border-radius: 50%;
}

#main #pagination ul li a
{
    color: black;
}

#main #pagination ul li a,
#main #pagination ul li span {
    display: block;
    line-height: 2rem;
}

#main #pagination ul li span {
    color: red;
}

#demo .carousel-inner .carousel-item img {
    width: 100%;
    height: 40rem;
}

@media (min-width: 1024px) {
    #menu-btn {
        display: none;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    div #header-logo {
        left: 2rem;
        font-size: 2rem;
    }

    #header {
        overflow: hidden;
        background-color: rgb(124, 131, 253);
    }

    #nav {
        left: 0;
        right: 0;
        top: 6rem;
        background-color: rgb(124, 131, 253);
    }

    #nav li {
        display: block;
    }

    #nav li .sub-nav {
        top: 0;
        left: 10rem;
        z-index: 1000;
        width: 25%;
    }

    #nav li .sub-nav li:hover {
        border-bottom: 4px solid #ccc;
        background-color: rgba(0, 155, 252, 0.5);
    }

    #menu-btn {
        display: block;
    }

    #header #nav-btn-shopping {
        left: 45rem;
    }

    #demo .carousel-inner .carousel-item img {
        width: 100%;
        height: 30rem;
    }

    #nav li .sub-nav li {
        margin: 0 0.5rem;
    }

    #nav li:hover > .sub-nav {
        display: flex;
        justify-content: space-around;
    }

    #nav li .sub-nav li p {
        display: block;
        text-align: center;
        color: #000;
        height: 10.5rem;
        width: 15.5rem;
        margin: 0;
    }
    
    #nav li .sales-code {
        left: 30rem;
        top: -50%;
    }
    
    #nav li .sales-code li {
        background: url('ticket.jpg') top / cover no-repeat !important;
    }
}


@media (max-width: 768px) {
    div #header-logo {
        left: 1rem;
        font-size: 1rem;
    }

    #header {
        overflow: hidden;
        background-color: rgb(124, 131, 253);
    }

    #nav {
        left: 0rem;
        top: 6rem;
        background-color: rgb(124, 131, 253);
    }

    #menu-btn {
        left: 19rem;
        display: block;
    }

    #nav li {
        display: block;
    }

    #nav li .sub-nav {
        top: 0;
        left: 10rem;
        z-index: 1000;
    }

    #nav li .sub-nav li:hover {
        border-bottom: 4px solid #ccc;
        background-color: rgba(0, 155, 252, 0.5);
    }

    #header #nav-btn-shopping {
        left: 12rem;
    }

    #demo .carousel-inner .carousel-item img {
        width: 100%;
        height: 16rem;
    }

}

.recentNews {
    background-color:rgb(249, 249, 249);
    background-image:url(BackGround.jpg);
}
.recentNews .news-title {
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    font-family: 'nimbus-sans-condensed', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    font-size:55px;
    font-weight:bold;
    color:#000;
    animation: myanimation 5s infinite;
}
.recentNews .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.recentNews .ct-blog {
    margin-bottom: 30px;
}
.ct-blog .inner {
    background-color:rgb(255, 249, 182);
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    height: 100%;
    box-shadow: inset 0 0 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.ct-blog .inner:hover {
    background-color: rgb(255, 204, 210);
}
.ct-blog .fauxcrop {
    height: 180px;
    overflow: hidden;
}
.ct-blog .fauxcrop img {
    width: 100%;
}
.ct-blog-content {
    display: table;
    padding: 30px 0 28px;
}
.ct-blog-content .ct-blog-date {
    border-right: 1px solid #95A5A6;
    display: table-cell;
    font-family: "Lato", sans-serif;
    padding: 0px 18px 0px 15px;
    text-align: center;
}
.ct-blog-content .ct-blog-date span {
    font-size: 16px;
    color: rgb(20, 117, 175);  
    font-weight: 700;
    display: block;
    line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
    font-size: 25px;
    color: rgb(20, 117, 175);  
}
.ct-blog-content .ct-blog-header {
    color: #000;
    display: table-cell;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    padding: 0 20px;
    vertical-align: top;
}
.btn-news {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}
.btn-news.btn-contests a {
    color:#000;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size: 24px;
    transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
    color: rgb(255, 38, 38);
}
  @keyframes myanimation {
    0% {color: red;}
    25%{color:red;}
    50%{color:orange;}
    75%{color:springgreen;}
    100% {color: red;}
  }